<template name="pricing">
<!-- 
I kindof want it to be a list that if you scroll your mouse over it, it will expand and show a description of the specific service.  
 -->
  <div class="row">
    {{#each services }}
    <div class="col-md-4">
      <div class="panel panel-{{ klass }}">
       <div class="panel-heading">
         <h4>{{ service }}</h4>
       </div>
       <div class="panel-body">
         
         <h1 class="price">
           <i class="fa fa-usd"></i> 
           {{ price }}
         </h1>

       </div>
      </div>
    </div>
    {{/each }} 
  </div>

</template>