<template name="work">
  <div class="container">
    <div class="row">
      <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="featurette">
          <img class="featurette-image img-circle pull-right" src="polish.png">
          <h2 class="featurette-heading">Manicures in your home!  <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">I will visit your home and deliver a professional spa experience in the most comfortable environment.</p>
        </div>

        <hr class="featurette-divider">

        <div class="featurette">
          <img class="featurette-image img-circle pull-left" src="tinfoilhands.png">
          <h2 class="featurette-heading">Shellac Nail Polish <span class="text-muted">CND Trained</span></h2>
          <p class="lead">The authentic Shellac experience.  No knock offs, but the genuinue best-on the market product.</p>
        </div>

        <hr class="featurette-divider">

        <div class="featurette">
          <img class="featurette-image img-circle pull-right" src="bwshellacmachine.png">
          <h2 class="featurette-heading">Shellac Process  <span class="text-muted">Beauty takes time</span></h2>
          <p class="lead">To cure the Shellac we use this light box.  It will ensure the finish is durable and holds onto its quality longer than knock offs and cheap drug store polish.</p>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
    </div>
  </div>
</template>